<div class="card">
  <h1>
    <h5>Gavilanez Jhostyn - Laboratorio 1</h5>
    <app-progress-bar [progress]="counterProgress"></app-progress-bar>
    <app-countdown
      #countdown
      [init]="totalCountdown"
      (onDecrease)="updateProgress($event)"
      (onComplete)="countdownFinished()"
    ></app-countdown>
    
    <!--Input para la generacion automatica-->
    <div class="initInput">
      <label for="totalCountDown">Inicia en: </label>
      <input type="text" id="totalCountdown" [(ngModel)]="totalCountdown">
    </div>

    <!--Boton para Reiniciar-->
    <button (click)="countdown.startCountdown(); counterProgress = 0;">Reiniciar</button>
  </h1>
</div>
